
.Pinput{
	margin-bottom: 5px;
}

h3{
	padding-left: 5px;
	border-left: 4px solid #494949;
}

/*Header*/
.header-cont{
	padding:30px;
}
.testcolor2{
	text-align: center;
	/*background-color: #bababa;*/
	/*height: 140px;*/
}
.logo{
	height: 140px;
	float: left;
	display: inline-block;
	min-width: 150px;
}
.logo-text{
	float: left;
	padding: 0px 0 0 20px;
	text-align: left;
	display: inline-block;
}

.logo-text h2, h1{
	color: #27156F;
}

.header-right{
	text-align: right;
}

.socmed{
	padding: 3px;
}
.socmed img{
	max-height: 40px;
	display: inline-block;
}


@media screen and (max-width:767px) {
.testcolor2{
	text-align: center;
	/*background-color: #bababa;*/
	/*height: 140px;*/
}
.header-right{
	visibility: hidden;
	height: 0px;
}
.logo-text{
	text-align: center;
}
}

/*caursel*/
.bgCaursel{
	padding: 30px 0 70px 0;
	background-color: #efefef;
}
form h4{
	margin-top: 10px;
}

/*Jadwal*/

.bgJadwalDok{
	width: 100%;
	background-color: #fff;
	padding: 30px 0 30px 0;
}
.jadwal{
	overflow: scroll; 
}
td .btn-danger{
	margin-left: 5px;
}

.right{
	float: right;
	margin-left: 5px;
}

.marginBottom{
	margin-bottom: 30px;
}